/*********************************** general */
h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Brandon_blk;
    src:url(../fonts/Brandon_blk.otf);
}
@font-face {
    font-family: Brandon_bld;
    src:url(../fonts/Brandon_bld.otf);
}
.wrapper{
     background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: initial;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}

.container{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}
img{cursor: pointer;}
/*********************************** header */
header{
	position: relative;
    height: 127px;
    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: center center;
}
header #menuIcon{
	display: none;
	cursor: pointer;
	left: 0px;
	position: absolute;
	top: 90px;
	color: #fff;
}
header #menuIcon img{
	top:9px;
	position: relative;
}
header #search{
	overflow: hidden;
    float: right;
    margin-top: 55px;
    margin-left: 10px;
}
header #search img , header #search input[type=text]{
	position: relative;
	right: -125px;
}
header #search img{
	top:5px;
}
header #search input[type=text]{
	padding: 10px;
	width: 100px;
	
}
header #logo{
    float: left;
    margin-top: 40px;
}
header ul.mainUl{
    margin-top: 70px;
    list-style: none;
    float: right;
}
header ul.mainUl > li{
	position: relative;
    float: left;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    margin-left: 23px;
    padding-right: 20px;
}
header ul.mainUl > li:first-child{margin-left: 0;}
header ul.mainUl > li a{
	padding-bottom: 50px;
    text-decoration: none;
    font-size: 14px;
    color:#fff;
    font-weight: 700;
	font-family: Brandon_bld;
}
header .myAccount{
	cursor: pointer;
    position: absolute;
    right: 0px;
    width: 132px;
    height: 39px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    float: right;
    box-sizing: border-box;
}
header .myAccount img{
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    top:5px;
}
header ul.subMenuUl{
	display: none;
	position: absolute;
	list-style: none;
	top:40px;
}
header ul.subMenuUl li {display: block;}
header ul.subMenuUl li a{
	display: block;
	background-color: #202122;
	padding: 10px;
	width: 100px;
}


/*********************************** section */
section{
    clear: both;
    text-align: center;
    color: #fff;
    padding-top: 85px;
}
section h2{
    font-size: 36px;
    font-weight: 700;
    font-family: Brandon_bld;
    margin-bottom: 15px;
	
}
section .cards{
    background-color: rgba(0,0,0, 0.4);
    margin: 0 auto;
    height: 762px;
	max-width: 1022px;
    padding: 30px;
}
section .cards .BlackBox img , section .cards .grayBox img{
    display: block;
    margin: 0 auto 15px auto;
}
section .cards .BlackBox , section .cards .grayBox {
    height: 691px;
    background-color: #000;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
	cursor: pointer;
}
section .cards .grayBox{background-color: #1d1d1d; }
section .cards .BlackBox h3 , section .cards .grayBox h3, section .cards .BlackBox p , section .cards .grayBox p{
    color: #f2bf00;
    font-size: 11px;
    font-family: Calibri;
}
section .cards .BlackBox p , section .cards .grayBox p{
    color: #ffffff;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 2px solid #585858;
}
/*********************************** footer */
footer{
    margin: 0 auto;
    clear: both;
    width: 100%;
    background-color: #343434;
    color: #fff;
    height: 473px;
    padding-top: 57px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
footer h3{
    font-size: 18px;
    font-weight: 700;
    font-family: Brandon_bld;
    margin-bottom: 32px;
}
footer ul{list-style: none;}
footer ul.mainList li{
  float: left;
    width: 33.3%;
}
footer .products{
    clear: both;
    margin-bottom: 145px;
}
footer .products img{
    margin-right: 18px;
    float: left;
}
footer .products p{
    float: left;
    font-size: 18px;
    font-weight: 700;
    font-family: Calibri;
}
footer .products p span{font-weight: 400;}
footer ul.loremIpsumList li{
    width: 100%;
    margin-bottom: 30px;
}
/*********************************** copyright */
.copyright {
    background-color: #000;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
}
.copyright p{    float: right;}
/*********************************** queries */
@media(max-width:1287px){
    section .cards{
        height: auto;
        text-align: center;
    }
    section .cards .BlackBox, section .cards .grayBox{
        float: none;
        display: inline-block;
        margin-top: 5px;
    }
}
@media(max-width:990px){
    .container{padding: 0 10px;}
}
@media(max-width:900px){
	header ul.mainUl{
		width: 245px;
		margin-top: 0;
		float: none;
		display: block;
		clear: both;
		padding-top: 25px;
		position: relative;
		z-index: 2;
	}
	header ul.mainUl > li{
		height: auto !important;
		background-color: rgba(0,0,0,0.9);
		display: none;
		float: none;
		width: 145px;
		padding: 10px;
	}
	header ul.mainUl > li:first-child{margin-left: 23px;}
	header ul.subMenuUl{
		display: none;
		position: relative;
		top: 10px;		
	}
	header ul.subMenuUl a{
		width: 100%;
	}
	header #menuIcon{display: block;}
}
@media(max-width:881px){
    .copyright p{float: none;}
    .copyright{text-align: center;}
    footer{
        height: auto;
        text-align: center;
    }
    footer ul.mainList li{
        clear: both;
        width: 100%;
        float: none;
    }
    footer .products p , footer .products img{float: none;}
	footer .products img{margin-right: 0;}
    footer .products{margin-bottom: 10px;}
    footer h3{margin-top: 20px;}
}

@media(max-width:506px){
    .copyright img{
        width: 100%;
        height: auto;
    }
}
@media(max-width:464px){
    header ul{width: 100%;}
    header ul li{
        background-color: rgba(0,0,0, 0.4);
        padding: 10px 5px;
    }
}

@media(max-width:375px){
	.copyright p{font-size: 12px;}
	header #search{margin-top: -35px;}
}
@media(max-width:355px){
	header ul.mainUl{
		padding-top: 0;
	    top: -40px;
	}
}

@media(max-width:320px){
	header #search {
    	margin-top: 12px;
    	z-index: 2;
    	position: relative;
	}
}
