/************************************** general  */

h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Brandon_blk;
    src:url(../fonts/Brandon_blk.otf);
}
@font-face {
    font-family: Brandon_bld;
    src:url(../fonts/Brandon_bld.otf);
}
.wrapper{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: initial;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}
.container{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}
img{cursor: pointer;}
/*********************************** header */
header{
	position: relative;
    height: 127px;
    background-image: url(../images/header_bg.png);
    background-size: cover;
    background-position: center center;
}
header #menuIcon{
	display: none;
	cursor: pointer;
	left: 0px;
	position: absolute;
	top: 90px;
	color: #fff;
}
header #menuIcon img{
	top:9px;
	position: relative;
}
header #search{
	overflow: hidden;
    float: right;
    margin-top: 70px;
    margin-left: 10px;
}
header #search img , header #search input[type=text]{
	position: relative;
	right: -125px;
}
header #search input[type=text]{
	padding: 10px;
	width: 100px;
	
}
header #logo{
    float: left;
    margin-top: 40px;
}
header ul.mainUl{
    margin-top: 70px;
    list-style: none;
    float: right;
}
header ul.mainUl > li{
	position: relative;
    float: left;
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    margin-left: 23px;
    padding-right: 20px;
}
header ul.mainUl > li a{
	padding-bottom: 50px;
    text-decoration: none;
    font-size: 14px;
    color:#fff;
    font-weight: 700;
	font-family: Brandon_bld;
}
header ul.mainUl > li:first-child{margin-left: 0px;}
header .myAccount{
    position: absolute;
    right: 0px;
    width: 132px;
    height: 39px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    float: right;
    box-sizing: border-box;
}
header .myAccount img{
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    top:5px;
}
header ul.subMenuUl{
	display: none;
	position: absolute;
	list-style: none;
	top:40px;
}
header ul.subMenuUl li {display: block;}
header ul.subMenuUl li a{
	display: block;
	background-color: #202122;
	padding: 10px;
	width: 100px;
}



/*********************************** footer */
footer{
    margin: 0 auto;
    clear: both;
    max-width: 1280px;
    background-color: #343434;
    color: #fff;
    height: 473px;
    padding-top: 57px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
footer h3{
    font-size: 18px;
    font-weight: 700;
    font-family: BrandonGrotesque , sans-serif;
    margin-bottom: 32px;
}
footer ul{list-style: none;}
footer ul.mainList li{
  float: left;
    width: 33.3%;
}
footer .products{
    clear: both;
    margin-bottom: 145px;
}
footer .products img{
    margin-right: 18px;
    float: left;
}
footer .products p{
    float: left;
    font-size: 18px;
    font-weight: 700;
    font-family: Calibri;
}
footer .products p span{font-weight: 400;}
footer ul.loremIpsumList li{
    width: 100%;
    margin-bottom: 30px;
}
/*********************************** copyright */
.copyright {
    background-color: #000;
    color: #ffffff;
    padding: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
}
.copyright p{    float: right;}

/*********************************** login and sign up */
.loginSignUp{
	height: 854px;
	box-sizing: border-box;
}
h1{
    font-family: Brandon_bld;
	font-size: 36px;
	color: #ffffff;
	padding-top: 84px;
	padding-bottom: 50px;
}

.login{
	float: left;
	text-align: center;
}
.login h2 , .signUp h2{
	font-size: 18px;
    font-family: Brandon_bld;
	color: #eebc00;
}
.login p , .signUp p{
	font: 400 12px Calibri;
	color: #ffffff;
	padding-bottom: 22px;
}
.login .loginForm{
	width: 352px;
	height: 189px;
	background-color: #eeeeee;
	box-sizing: border-box;
	padding: 40px;
	border-radius: 10px;
}
.login .loginForm input[type=text], .login .loginForm input[type=email] , .signUpForm input[type="text"]{
	box-sizing: border-box;
	height: 44px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}
.login .loginForm + p {
	float: left;
	margin-top: 5px;
}
.login a , .signUp a, .login .btn-primary{
	width: 122px;
	height: 44px;
	background-color: #eebc00;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	color: #000000;
	font-size: 18px;
	margin-top: 5px;
    font-family: Brandon_bld;
	float: right;
	padding-top: 10px;
	border-radius: 10px;
	margin-bottom: 45px;
	border:none;
}
.signUp{
	text-align: center;
	width: 257px;
	float: left;
	margin-left: 174px;
	overflow: hidden;
}
.signUp p.blackBox{
	cursor: pointer;
	width: 124px;
	height: 45px;
	float: left;
	background-color: #000;
	border-radius: 10px;
	box-sizing: border-box;
	padding-top: 8px;
	font: 400 21.64px Calibri;
	margin-bottom: 14px;
}
.signUp p.blackBox.right{float: right;}


.signUpForm input[type="radio"]{display:none;}
.signUpForm input[type="radio"] + span {
    display:inline-block;
    width: 20px;
    height: 20px;
    margin:-5px 4px 0 4px;
    vertical-align:middle;
	background:url(../images/checkbox_unchecked.png) left top no-repeat;  
    background-repeat: no-repeat;
    cursor:pointer;
}
.signUpForm input[type="radio"]:checked + span 
{
    background:url(../images/checkbox_checked.png)left -2px no-repeat;
}
.signUpForm p.left{
	float: left;
	position: relative;
	top:-10px;
}
.signUpForm > div{
	width: 50%;
	float: left;
	text-align: left
}
.signUpForm #coinSiteUrl{display: none;}
.signUpForm > div p{padding-bottom: 10px;}

/*********************************** queries */
@media(max-width:990px){
    .container{padding: 0 10px;}
}
@media(max-width:900px){
	header ul.mainUl{
		position: relative;
		width: 245px;
		margin-top: 0;
		float: none;
		display: block;
		clear: both;
		padding-top: 25px;
		z-index: 2;
	}
	header ul.mainUl > li{
		height: auto !important;
		background-color: rgba(0,0,0,0.9);
		display: none;
		float: none;
		width: 145px;
		padding: 10px;
	}
	header ul.mainUl > li:first-child{margin-left: 23px;}
	header ul.subMenuUl{
		display: none;
		position: relative;
		top: 10px;		
	}
	header ul.subMenuUl a{
		width: 100%;
	}
	header #menuIcon{display: block;}
}
@media(max-width:881px){
	.loginSignUp{height: auto;}
    .copyright p{float: none;}
    .copyright{text-align: center;}
    footer{
        height: auto;
        text-align: center;
    }
    footer ul.mainList li{
        clear: both;
        width: 100%;
        float: none;
    }
    footer .products p , footer .products img{float: none;}
	footer .products img{margin-right: 0;}
    footer .products{margin-bottom: 10px;}
    footer h3{margin-top: 20px;}
}

@media(max-width:820px){
	.login{width: 352px;}
	.signUp , .login , .login .loginForm{
		float: none;
		margin: 0 auto;
		clear: both;
	}
}
@media(max-width:506px){
    .copyright img{
        width: 100%;
        height: auto;
    }
}
@media(max-width:464px){
    header ul{width: 100%;}
    header ul li{
        background-color: rgba(0,0,0, 0.4);
        padding: 10px 5px;
    }
}

@media(max-width:375px){
	.copyright p{font-size: 12px;}
	header #search{margin-top: -35px;}
}
@media(max-width:355px){
	.login , .login .loginForm{width: 100%;}

	header ul.mainUl{
		padding-top: 0;
	    top: -40px;
	}

}
@media(max-width:320px){
	header #search {
    	margin-top: 12px;
    	z-index: 2;
    	position: relative;
	}
}
